@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
	--inter: 'Inter', sans-serif;
	--lexend-deca: 'Lexend Deca', sans-serif;

	/* colors */
	--main-bg-very-dark-blue: hsl(233, 47%, 7%);
	--card-bg-dark-desaturated-blue: hsl(244, 38%, 16%);
	--accent-soft-violet: hsl(277, 64%, 61%);
	--main-p-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
	--stat-headings-slightly-transparent: hsla(0, 0%, 100%, 0.6);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
p {
	font-family: var(--inter);
}

p,
.smaller-text {
	font-weight: 400;
}

/* first font-size is Fallback*/
h1 {
	font-size: 2.25rem;
	font-size: clamp(2.25rem, 0.23rem + 2.3vw, 3rem);
	font-weight: 700;
	color: white;
}
h2 {
	font-size: 1.5rem;
	font-size: clamp(1.5rem, 0.15rem + 1.54vw, 2rem);
	color: white;
}
p {
	font-size: 0.937rem;
	font-size: clamp(0.937rem, -0.17rem + 1.27vw, 1.35rem);
	color: var(--main-p-slightly-transparent-white);
}
.smaller-text {
	font-size: 0.75rem;
	font-size: clamp(0.75rem, -0.19rem + 1.08vw, 1.1rem);
	letter-spacing: 1.25px;
	color: var(--stat-headings-slightly-transparent);
}

body {
	background-color: var(--main-bg-very-dark-blue);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	width: 80vw;
	height: fit-content;
	min-height: 435px;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	overflow: hidden;
}

#text-container {
	background-color: var(--card-bg-dark-desaturated-blue);
	flex-basis: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 6.5% 10.75% 6.1% 5.55%;
}
#title {
	padding-bottom: 7.3%;
}
#highlight {
	color: var(--accent-soft-violet);
}
#paragraph {
	line-height: 1.75;
}

#stats-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 10.7%;
}
#stats-container > * {
	width: min-content;
}

#img-container {
	position: relative;
	flex-basis: 50%;
}
#img-container > img {
	width: 100%;
	height: 100%;
}
#accent {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: hsl(277, 95%, 37%, 0.47);
}

.attribution {
	font-family: var(--lexend-deca);
	font-size: 11px;
	text-align: center;
	color: white;
	padding: 20px 0 10px;
}
.attribution a {
	color: var(--accent-soft-violet);
	opacity: 0.5;
}
.attribution a:hover {
	opacity: 1;
}

@media (max-width: 599px) {
	main {
		width: 90vw;
		min-height: fit-content;
		text-align: center;
		flex-direction: column-reverse;
	}
	#img-container {
		flex-basis: 30%;
	}
	#text-container {
		flex-basis: 70%;
		padding: 7.5% 10.75%;
	}
	#stats-container {
		gap: 20px;
		align-items: center;
		flex-direction: column;
		padding-right: 0;
		padding-top: 13%;
	}

	h1 {
		font-size: 1.5rem;
		font-size: clamp(1.5rem, 0.21rem + 6.45vw, 2.625rem);
	}
	h2 {
		font-size: 1.35rem;
		font-size: clamp(1.35rem, 0.6rem + 3.7vw, 2rem);
	}
	p {
		font-size: 0.937rem;
		font-size: clamp(0.937rem, 0.3rem + 3.23vw, 1.5rem);
	}
	.smaller-text {
		font-size: 0.75rem;
		font-size: clamp(0.75rem, 0.23rem + 2.6vw, 1.2rem);
	}
}

@media (max-width: 900px) and (min-width: 600px) {
	main {
		min-height: fit-content;
	}

	h1 {
		font-size: 0.95rem;
		font-size: clamp(0.95rem, 0.045rem + 2.4vw, 1.4rem);
	}
	h2 {
		font-size: 0.63rem;
		font-size: clamp(0.63rem, 0.007rem + 1.66vw, 0.94rem);
	}
	p {
		font-size: 0.43rem;
		font-size: clamp(0.43rem, 0.027rem + 1.07vw, 0.63rem);
	}
	.smaller-text {
		font-size: 0.34rem;
		font-size: clamp(0.34rem, 0.018rem + 0.85vw, 0.5rem);
	}
}

@media (max-width: 1400px) and (min-width: 901px) {
	main {
		min-height: fit-content;
	}

	h1 {
		font-size: 1.4rem;
		font-size: clamp(1.4rem, -0.13rem + 2.7vw, 2.25rem);
	}
	h2 {
		font-size: 0.94rem;
		font-size: clamp(0.94rem, -0.07rem + 1.8vw, 1.5rem);
	}
	p {
		font-size: 0.63rem;
		font-size: clamp(0.63rem, 0.07rem + 0.98vw, 0.937rem);
	}
	.smaller-text {
		font-size: 0.5rem;
		font-size: clamp(0.5rem, 0.05rem + 0.8vw, 0.75rem);
	}
}

@media (min-width: 1921px) {
	main {
		max-width: 1536px;
		max-height: 638px;
	}
}
