@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Lexend Deca', sans-serif;

  --fs-xl: 1.75rem;
  --fs-lg: 1.5rem;
  --fs-md: 0.938rem;
  --fs-sm: 0.813rem;

  --fw-bold: 700;
  --fw-regular: 400;

  /* colors */
  --clr-bg-primary: hsl(233, 47%, 7%);
  --clr-bg-secondary: hsl(244, 38%, 16%);
  --clr-accent: hsl(277, 64%, 61%);
  --clr-text-heading: white;
  --clr-text-body-1: hsla(0, 0%, 100%, 0.75);
  --clr-text-body-2: hsla(0, 0%, 100%, 0.6);
}

/* typography */
h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--clr-text-heading);
}
h2 {
  font-size: var(--fs-lg);
  color: var(--clr-text-heading);
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  color: var(--clr-text-body-2);
}
.text-container__description span {
  color: var(--clr-accent);
}

.text-container__stats p {
  font-family: var(--ff-secondary);
  font-size: var(--fs-sm);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* layout */
body {
  display: grid;
  place-content: center;
  background-color: var(--clr-bg-primary);
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-bg-secondary);
  margin: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

.img-container {
  background-color: var(--clr-accent);
}
.img-container img {
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.text-container {
  gap: 2.5rem;
  text-align: center;
  padding: 2.5rem 2.25rem 2.25rem;
}
.text-container__description {
  gap: 1rem;
}

.text-container__stats ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 36rem) {
  main {
    max-width: 33rem;
  }

  .img-container img {
    width: 34rem;
    height: 24rem;
  }

  .text-container__stats ul {
    justify-content: center;
    flex-direction: row;
  }
}

@media (min-width: 78rem) {
  main {
    max-width: 70rem;
    flex-direction: row-reverse;
  }

  .img-container {
    flex-basis: 50%;
  }
  .img-container img {
    width: 100%;
    height: auto;
  }
  .text-container {
    justify-content: space-between;
    text-align: left;
    padding: 5rem 4rem 4rem;
    flex-basis: 50%;
  }
  .text-container ul {
    justify-content: start;
  }
}

/* utility classes */
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
